<style> 
.navbar{
    background-color: gray;
    color:gray;
    font-size: 1.2em;
}
.navbar-nav .active a, .navbar-nav a:focus, .navbar-nav a:hover{
color: gray;
background-color:#5a6268;
}
.navbar-nav a{
color: grey;
}
.bg-color{
background-color: #6c757d;
}
.container{
margin:4% auto;
}
.icone{
max-width: 200px;
margin:auto;
}
footer{
background-color: #6c757d;
color: #1579e4;
padding: 3%;
}
.container1{
text-align: center;
}


font-size: 1.2em;
}

* {
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

header {
    width: auto;
    min-height: 100px;
    margin: 0;
    text-align: center;
    background-color:#f67575;
    overflow-x: hidden;

}


header, section, footer {
    display:block;
}

section {
    position:relative; top:20;
    padding: 10px;
    height: auto;
    width: 80%;
    background-color: #d4f8e8;
    float: left;
    float: right;
    margin-bottom: 40px;

}

#menu {
	position:absolute;
	margin-top: 20px;
    width:20%;
    background-color: #1eb2a6;
    text-align: center;
}

table{
		margin:3%;

}

footer {
    margin-top:20px;
    text-align:center;
    clear:both;
    width: auto;
    background-color: #ffa34d;
}
label{
	width: 100px;
	margin-left: 20px;
	text-align: left;
	display: inline-block;

}

#espaco{
	width: 50;
	height: 50;
	float: left;
	margin-left: 200px;
}

#espaco2{
	float: left;
	margin-left: 3%;
}
 #leftbox { 
                float:left;
                   
} 
 #rightbox { 
    float:right;
    width:35%; 
                
} 
}
#site {
    color: white;
    font-weight: bold;
    font-decoration: underline;
    font-size: 20;
}

}#bolha {
    background-color: red;
    

}
#link {
    color: black;
    
}
#cinz{
text-align:center;

}